<!DOCTYPE html>
<html>
<head>
  <title>Selector</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- <%= #stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans" %> -->
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Open+Sans', :media => "all" %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
